* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;  /* Desplazamiento suave al hacer clic en un enlace */ 
}

body{
    color: white; /* color del texto */
    background: #000; /* Color del fondo */
}
/*-----------------------------------------------------------------------------------------
1. Navegacion Fija 
*/
header nav{
    top:0;
    width: 100%;
    background: #000;
    padding: 15px;
    z-index: 1000; /* Asegurar que este por encima de otros */
    position: fixed; /* Sirve para fijar el menu en la pantalla */
}

header nav ul{
    list-style: none;
    display:flex;
    gap: 25px; /* separacion */
    justify-content: center;
}

header nav ul li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

header nav ul li a:hover{
    color: #00ffcc;
}
/*-----------------------------------------------------------------------------------------
2. Seccion Inicio
*/
.hero{
    height: 100vh;  /*  Que ocupe el 100% de la pantalla */
    display: flex;  /* Activando el display flex */
    flex-direction: column; /* Organiza los elemento en columna, de arriba hacia abajo */
    justify-content: center; /* Centra verticalmente los elementos */
    align-items: center;  /* Centra horizontalmente */
    background: linear-gradient(135deg, #000, #1a1a1a, #333333)
}

.hero-contenido{
    max-width: 800px;  /* Asigna un ancho maximo */
    text-align: center; /* Centra todo el texto del contenedor */
    margin: 0 auto; 
}

.hero-titulo{
    font-size: 3rem;  /* Tamaño de letra */
    margin-bottom: 20px; /* margen hacia abajo de 15px */
}

.hero-subtitulo{
    color: #00ffcc; /* color */
    margin-bottom: 15px;  /* margen hacia abajo */
    font-size: 1.5rem;  /* tamaño de la letra */
    font-weight:500;  /* grosor de la letra */
}

.hero-descripcion{
    margin-bottom: 15px;
    font-size: 1.1rem;
    opacity: 0.8;  /* opacidad rango de 0.1 - 0.9 */
}

.hero-eslogan{
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 40px;
    opacity: 0.8;
}

.hero-foto{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #00ffcc;
    margin-bottom: 20px;
}

.hero-estadisticas{
    display: flex;  /* alinear en una sola fila */
    justify-content: center;
    gap: 40px; /* poner un espaciado entre elementos */
    margin-bottom: 40px;
    flex-wrap: wrap;  /* permite que se ponga en columna cuando es tamaño movil */

}

.esta-item{
    text-align: center; /* centrar el texto */
}

.esta-numero{
    display: block;  
    font-size: 2rem;
    font-weight: 500;
    color: #00ffcc;
    margin-bottom: 5px;
}

.esta-nombre{
    font-size: 0.9rem;
    opacity: 0.9;
}

.hero-botones{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
}


.btn-whatsapp, .btn-linkedint, .btn-cv{
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 8px 16px;
    border-radius: 5px;
    align-items: center;
    gap: 6px;
    border: 1PX solid;
}

.btn-whatsapp{
    border-color: #25D366;
    color: #25D366;
}

.btn-linkedint{
    border-color: #0077b5;
    color: #0077b5;
}

.btn-cv{
    border-color: chocolate;
    color: chocolate;
}



